MONGO_USER=username
MONGO_PASS=password
MONGO_DATABASE=mongo
PORT=8080
TITLE=Bootstrap
EXCERPT="React/Mongo/Graph QL Bootstrap"
FRONTEND="http://localhost:8080"
GOOGLE_AD_CLIENT=
GOOGLE_AD_SLOT=
SERVER_SECRET=asdfasdfasdfasfgasdgasdf
VERSION=2.1.1
