@use 'sass:color';
@use 'variable';

@mixin button($color) {
    $dark: color.adjust($color, $lightness: -10%);

    background-color: $color;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        background-color: $dark;
    }

    &.hollow {
        background-color: transparent;
        border-color: $color;
        color: $color;

        &:hover,
        &:focus,
        &:visited,
        &:active {
            border-color: $dark;
            color: $dark;
        }
    }
}

.button {
    @include button(variable.$primary);

    &.primary {
        @include button(variable.$primary);
    }
}
