@use 'mixin';

$width: calc((100% - (11 * 1em)) / 12);

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1em;

    .column {
        @for $i from 1 through 12 {
            &.small-#{$i} {
                width: calc(#{$width} * #{$i} + #{$i - 1}em);
            }
        }

        @for $i from 1 through 12 {
            @include mixin.medium {
                &.medium-#{$i} {
                    width: calc(#{$width} * #{$i} + #{$i - 1}em);
                }
            }
        }

        @for $i from 1 through 12 {
            @include mixin.large {
                &.large-#{$i} {
                    width: calc(#{$width} * #{$i} + #{$i - 1}em);
                }
            }
        }
    }
}
