.scene__front-page {
    background-color: var(--black);
    height: calc(100vh - var(--header-height));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 8em;
        font-weight: 600;
    }

    p {
        background-color: var(--primary);
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0 0.5em 0.15em;
        margin-bottom: 1em;
    }
}
