.article--grid {
    .article--grid__systems {
        margin-bottom: 1em;

        .column {
            background-color: var(--primary);
            color: var(--white);
            text-align: center;
            padding: 0.5em 0;
        }
    }
}
