@use '../variable';

.top-bar {
    .menu {
        display: flex;
        height: variable.$header-height;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1em;
            font-weight: 400;
            transition: background 0.3s ease-out, color 0.3s ease-out;
            background-color: white;
        }

        a:hover {
            color: white;
            background-color: variable.$primary-color;
        }

        &.dropdown {
            .menu {
                position: fixed;
                display: none;
                flex-direction: column;
                height: auto;

                li {
                    height: variable.$header-height;
                }

                &.dropdown--show {
                    display: flex;
                }
            }
        }
    }

    .menu--hamburger {
        position: fixed;
        top: variable.$header-height;
        left: 0;
        width: 100vw;

        .menu {
            height: auto;
            flex-direction: column;
            width: 100vw;

            .menu {
                a::before {
                    content: '-';
                    margin-right: 0.5em;
                }
            }
        }
    }
}
