@use '../variable';
@use '../mixin';

$logo_width: 84px;

.top-bar {
    width: 100vw;
    height: variable.$header-height;
    margin: 0;
    padding: 0;
    position: fixed;
    display: block;
    background-color: transparent;
    z-index: 10000;

    &__half {
        display: flex;
        height: variable.$header-height;
    }

    &__background {
        width: 100vw;
        height: variable.$header-height;
        position: absolute;
        display: grid;
        grid-template-columns: auto 84px auto;

        .top-bar__half {
            background-color: white;
        }

        &__logo {
            @include mixin.icon;
            background-image: url('../../images/logo-background.svg');
            width: $logo_width;
            height: variable.$header-height;
            display: block;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &__foreground {
        height: variable.$header-height;
        display: grid;
        grid-template-columns: 1fr 84px 1fr;
        position: relative;

        &__logo {
            display: block;
            width: $logo_width;
            height: variable.$header-height;
        }
    }

    &__fixed-adjust {
        width: 100vw;
        height: variable.$header-height;
        background-color: variable.$darkest-gray;
    }

    ul {
        background-color: transparent;
    }
}
