@use 'sass:color';

$header-height: 48px;

$body-font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$primary-color: #970000;
$primary-dark: color.adjust($primary-color, $lightness: -10%);

$white: #ffffff;
$black: #000000;
$light-gray: #f6f6f6;
$medium-gray: #ababab;
$darkest-gray: #0d121c;
$body-background: $light-gray;
$table-background: $medium-gray;
$table-color-scale: 5%;
