@use 'variable';

.scene__front-page {
    background-color: variable.$darkest-gray;
    height: calc(100vh - #{variable.$header-height});
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 8em;
        font-weight: 600;
    }

    p {
        background-color: variable.$primary-color;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0 0.5em;
    }
}
