@use 'variable';
@use 'mixin';

html {
    scroll-behavior: smooth;
    font-size: 13pt;
}

html[lang='en-US'],
body {
    font-family: variable.$body-font-family;
    font-weight: 300;
    margin: 0 !important;
}

::selection {
    background-color: variable.$primary-color;
    color: variable.$white;
}

strong {
    font-weight: 700;
}

a,
.anchor {
    color: variable.$primary-color;
}

p {
    line-height: 1.8;

    &:empty {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include mixin.capitalize;
    font-weight: 500;
    font-family: variable.$body-font-family;
    letter-spacing: -0.05em;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    overflow: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.strike_through {
    text-decoration: line-through;
}
